button {
  background-color: green;
  color: white;
  border: 0px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}

button:active {
  background-color: darkgreen;
}
